WS_PORT=

RMQ_HOST=
RMQ_PORT=

SFU_SERVICE_HOST=
SFU_SERVICE_PORT=

GUILD_SERVICE_HOST=
GUILD_SERVICE_PORT=
GUILD_SERVICE_GRPC_PORT=

USER_SERVICE_HOST=
USER_SERVICE_PORT=
USER_SERVICE_GRPC_PORT=

REDIS_HOST=
REDIS_PORT=

OTEL_EXPORTER_OTLP_ENDPOINT=